global:
  smtp_smarthost: "localhost:25"
  smtp_from: "alertmanager@sentinel.local"
  smtp_require_tls: false

route:
  group_by: ["alertname", "severity"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: "default"

  routes:
    - match:
        severity: critical
      receiver: "critical"
      continue: true

receivers:
  - name: "default"
    webhook_configs:
      - url: "http://host.docker.internal:8000/api/v1/alerts"
        send_resolved: true

  - name: "critical"
    webhook_configs:
      - url: "http://host.docker.internal:8000/api/v1/alerts/critical"
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: "critical"
    target_match:
      severity: "warning"
    equal: ["alertname"]
